small {
    font-size: .60rem;
}

.about-container {
    display: grid; 
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about-me {
    width: 100%;
    aspect-ratio: 1/.78;
    border-radius: 1.75rem;
    background: linear-gradient(45deg, transparent, var(--primary-color), transparent);
    display: grid;
    place-items: center;
}

.about-img {
    border-radius: 1.75rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about-img:hover {
    transform: rotate(0);
    transition: var(--transition);
}

.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about-card {
    background: var(--bg-color-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.75rem;
    text-align: center;
    transition: var(--transition);
    box-shadow: 3px 6px rgba(0, 0, 0, 0.25); 
}

.about-card:hover {
    background: transparent;
    border-color: var(--primary-color);
    cursor: default;
    box-shadow: none;
}

.about-icon {
    color: var(--primary-color); 
    font-size: 1.4rem;
    margin-bottom: .85rem;
}

.about-card h5 {
    font-size: .85rem;
}

.about-content p {
    margin: 2rem 0 2.5rem;
    color: var(--light);
    font-size: .85rem; 
}

/* media queries (tablets) */
@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;  
    }

    .about-me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about-content p {
        margin: 1rem 0 1.5rem;
    }

}

/* media queries (mobile devices) */
@media screen and (max-width: 600px) {
    .about-me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about-cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem; 
    }

    .about-content {
        text-align: center;
    }

    .about-content p {
        margin: 1.5rem 0;
    }
}
